*
!.gitignore
!config/
!config/config.yaml
!config/samples.tsv
!resources/
!resources/.gitignore
!results/
!results/.gitignore
!workflow/
!workflow/envs/
!workflow/envs/*
!workflow/rules/
!workflow/rules/*
!workflow/Snakefile
!README.md
!lsf.yaml